# ignore local maintainer files
TODO.md

# ignore sphinx build files
docs/build/*
docs/_autosummary/*

# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/

# pytest artifacts
.pytest_cache/

# PyCharm artifacts
/.idea/*
/venv/*

# VS Code artifacts
.vscode/*

# Local package egg-info
*.egg-info/