# Environment variables
.env
.env-backup

# CodeMonkey
storage/internal/listed-files.txt

# Python artifacts
*.pyc
*.pyo
*.pyd
__pycache__/

# pytest artifacts
.pytest_cache/

# VS Code artifacts
.vscode/

